<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <nav id="menu">
            <a href="/cadastro">Cadastro</a> | <a href="/validaCPF">Verifica CPF</a> | <a href="/confirma">Confirma Senha</a>
        </nav>
        <h1 id="titulo">Home Page</h1>
    </header>
    <section id="container">
        <p>Esta é a pagina Inicial</p>
    </section>

    <section id="img">
        <img src="imagens/messi.jpg" alt="Messi 10">
    </section>

</body>
</html>